/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative; /* Ensure the body is positioned relative for absolute positioning */
}

/* Navigation Bar */
.navigation {
    background-color: #333;
    color: white;
    padding: 2%;
    position: relative; /* To contain absolutely positioned children */
    z-index: 2; /* Ensure it's above other content */
    text-align: center; /* Center text in navigation bar */
}

.navbar-content {
    display: inline-block;
    max-width: 90%; /* Adjust this percentage as needed */
}

.navigation .companyname {
    font-size: 2.5em; /* Font sizes are typically in em or rem units for scalability */
    color: orange;
    margin: 0;
}

.nav-links {
    font-size: 1.5em; /* Font sizes are typically in em or rem units for scalability */
    margin: 0;
    padding: 0;
    list-style: none; /* Remove default list styling */
}

.nav-links li {
    display: inline; /* Display list items in a row */
    margin: 0 2%; /* Adjust spacing between links */
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd; /* Change to a lighter color on hover */
}

/* Absolute Positioned Image */
.absolute-image {
    position: absolute;
    top: 25%; /* Increased to create more space between the navigation bar and the image */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Full width to ensure it spans across the container */
    max-width: 90%; /* Adjust based on your design needs */
    text-align: center;
    z-index: 1; /* Ensure it's below the navigation bar */
}

.absolute-image img {
    width: 35%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
}

/* More About Us Section */
.more-about-us {
    background-color: #f4f4f4;
    padding: 5%;
    overflow: hidden;
    clear: both;
    margin-top: 30%; /* Ensure there's enough space for the absolute image */
}

.more-about-us .about-text {
    float: left;
    width: 60%; /* Percentage-based width for responsive layout */
}

.more-about-us .about-image {
    float: right;
    width: 35%; /* Percentage-based width for responsive layout */
    text-align: center;
}

.more-about-us img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
}
